/* ----------- FONTS -----------*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto+Serif&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: url(../images/backgrounds_quiz-000.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Serif', sans-serif;
}

#header-text {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 300%;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #1A2B38;
}
#header-text:hover {
 color: #E5E4DC;
}

/* ------------- Main setup for the game layout ------------ */
.game-layout {
    max-width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px solid #1A2B38;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(185, 184, 201, 0.7);
    font-family: inherit;
}

/* ------------ Score & question tracker ------------ */
#score {
    display: flex;
    justify-content: space-between;
}
/* ------------ Question area ------------ */
#questions {
    font-size: 120%;
    padding: 2rem 0;
}
/* ------------ Answer area ------------ */
#answers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
}
/* ----------- Style for buttons ----------- */
.btn {
    width: 100%;
    font-size: 130%;
    border-radius: 0.4rem;
    background-color: #467599;
    color: #E5E4DC;
    padding: 0.7rem;
    margin: 0.1rem 0;
    font-family: inherit;
}
#next-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 200%;
    width: fit-content;
    font-weight: bold;
}
.btn-hover:hover {
    background-color: #E5E4DC;
    color: #467599;
}
.go-back-btn {
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 170%;
    margin: 0 auto;
    
}
#go-back-link {
    width: fit-content;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* ------------ Styles for choosen answers ----------- */
.selected {
    border: 4px solid #1A2B38;
}
.correct {
    background-color: rgb(115, 163, 115);
}
.wrong {
    background-color: #c76060;
}
.fas {
    float: left;
}
/* ------------ Hidden elements ------------ */
.hide {
    display: none;
}

/* ----------- About area ------------ */
#about {
    overflow: scroll;
    padding: 2rem;
    max-height: 65vh;
}

/* ------------ Contact page ------------ */
input, textarea, .submit {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #1A2B38;
    font-family: inherit;

}
.submit {
    width: fit-content;
    padding: 1rem;
}

/* ----------- Media ------------- */

@media screen and (max-width: 520px) {
    #header-text {
        font-size: 160%;
        padding: 1rem 0.2rem;
    }
    .game-layout {
        max-width: 80%;
        margin-top: 1rem;
    }
    #start {
        padding: 1rem;
    }
}
@media screen and (max-width: 330px) {
    #header-text {
        font-size: 140%;
    }
    #score {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
}
