/* ----------- FONTS -----------*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto+Serif&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: url(../images/backgrounds_quiz-000.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Serif', sans-serif;
}
.header-section > h1, a {
    text-align: center;
    margin: 0 auto;
    padding: 3rem;
    font-size: 200%;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #1A2B38;
}
#header-text:hover {
 color: #E5E4DC;
}

/* ------------- Main setup for the game layout ------------ */

.game-layout {
    max-width: 60%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(185, 184, 201, 0.7);
}

/* ------------ Score & question tracker ------------ */
#score {
    display: flex;
    justify-content: space-between;
}
/* ------------ Question area ------------ */
#questions {
    font-size: 120%;
    padding: 2rem 0 4rem 0;
}
/* ------------ Answer area ------------ */
#answers {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* ----------- Style for buttons ----------- */
.btn {
    width: 100%;
    font-size: 130%;
    border-radius: 0.4rem;
    background-color: #467599;
    color: #E5E4DC;
    padding: 0.5rem;
}
.btn:hover {
    background-color: #E5E4DC;
    color: #467599;
}
/* ------------ Hidden elements ------------ */
.hide {
    display: none;
}

/* ----------- About area ------------ */
#about {
    overflow: scroll;
    padding: 2rem;
}

/* ----------- Media ------------- */
@media screen and (min-width: 400px) {
    .header-section > h1, a {
        font-size: 170%;
    }
    .game-layout {
        max-height: 65%;
        min-height: 50%;
    }
    #start {
        padding: 3rem;
    }
}