/* ----------- FONTS -----------*/

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto+Serif&display=swap');
body {
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: url(../images/backgrounds_quiz-000.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Serif', sans-serif;
}


/* ------------ Styles for 'header' ---------- */

#header-text {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 300%;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #1A2B38;
    text-shadow: 2px 2px #E5E4DC;
}

#header-text:hover {
    color: #E5E4DC;
    text-shadow: 2px 2px #1A2B38;
}


/* ------------- Main setup for the game layout ------------ */

.game-layout {
    max-width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px solid #1A2B38;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(185, 184, 201, 0.7);
}


/* ------------ Score & question tracker ------------ */

#score {
    display: flex;
    justify-content: space-between;
}


/* ------------ Question area ------------ */

#questions {
    font-size: 120%;
    padding: 2rem 0;
}


/* ------------ Answer area ------------ */

#answers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
}


/* ----------- Style for buttons ----------- */

.btn {
    width: 100%;
    font-size: 150%;
    border-radius: 0.4rem;
    background-color: #467599;
    color: #E5E4DC;
    padding: 0.7rem;
    margin: 0.1rem 0;
    font-weight: 500;
    box-shadow: 2px 2px #1A2B38;
}

#next-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 200%;
    width: fit-content;
    font-weight: bold;
}

.btn-hover:hover {
    background-color: #E5E4DC;
    color: #1A2B38;
    text-shadow: none;
}

.go-back-btn {
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 170%;
    margin: 0 auto;
    box-shadow: 2px 2px #1A2B38;
}

#go-back-link {
    width: fit-content;
    text-decoration: none;
    color: inherit;
}


/* ------------ Styles for choosen answers ----------- */

.selected {
    border: 4px solid #1A2B38;
}

.correct {
    background-color: #77A677;
}

.wrong {
    background-color: #C25B5B;
}

.fas {
    float: left;
}


/* ------------ Hidden elements ------------ */

.hide {
    display: none;
}


/* ----------- About area ------------ */

#about {
    overflow: scroll;
    padding: 2rem;
    max-height: 65vh;
}


/* ------------ Contact page ------------ */

input,
textarea,
.submit {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #1A2B38;
}

.submit {
    width: fit-content;
    padding: 1rem;
}


/* ----------- Media ------------- */

@media screen and (max-width: 520px) {
    #header-text {
        font-size: 230%;
        padding: 1rem 0.2rem;
    }
    .game-layout {
        max-width: 80%;
        margin-top: 1rem;
    }
    #start {
        padding: 1rem;
    }
}

@media screen and (max-width: 372px) {
    #header-text {
        font-size: 180%;
    }
    #score {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
}